!!!
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript')
			function ready(){
				var divs = document.getElementsByTagName('div');
				for(var x=0; x < divs.length; x++){
					divs[x].onclick = function(){
						document.getElementById('sides').value = this.getAttribute('data-sides');
						document.getElementById('submit').click();
					}
					divs[x].onmouseover = function(){
						if(document.getElementById('dicename')) { 
							document.getElementById('dicename').innerHTML = this.getAttribute('data-dicename');
						}
					}
				}
				if(document.getElementById("rollform")) {
					var sides = document.getElementById("sides").value;
					var img = "";
					sides = parseInt(sides);
					img = getDieName(sides);
					document.getElementById("rollme").style.backgroundImage = "url(/images/"+img+".png)";
					var head = document.getElementsByTagName('head')[0];
					var style = document.createElement('style');
					var rules = document.createTextNode("#rollme:hover { background: url(/images/"+img+"_hover.png) no-repeat !important; } #rollme.disabled:hover { background: url(/images/"+img+".png) no-repeat !important; }");

					style.type = 'text/css';
					if(style.styleSheet)
						style.styleSheet.cssText = rules.nodeValue;
					else style.appendChild(rules);
					head.appendChild(style);
					
					document.getElementById("rollme").onclick = function(){
						var randomnumber=Math.floor(Math.random()*(parseInt(document.getElementById("sides").value)-1))+1;
						document.getElementById("value").value = randomnumber;
						document.getElementById("submit").click();
					}
				}
				if(document.getElementById("rollme") && document.getElementById("rollme").className == "disabled"){
					//set #info to have the die roll
					var sides = document.getElementById("sides").value;
					var val = document.getElementById("value").value;
					var die = getDieName(sides);
					
					document.getElementById("info").innerHTML = val;
					document.getElementById("rollme").style.backgroundImage = "url(/images/"+die+".png)";
				}
			}
			function getDieName(sides){
				var img = "";
				sides = parseInt(sides);
				switch(sides){
						case 6:
							img = "1d6";
							break;
						case 36:
							img = "2d6";
							break;
						case 8:
							img = "1d8";
							break;
						case 64:
							img = "2d8";
							break;
						case 10:
							img = "1d10";
							break;
						case 100:
							img = "2d10";
							break;
						case 20:
							img = "1d20";
							break;
						case 400:
							img = "2d20";
							break;
					}
					return img;
			}
	body(onload='ready()')!= body
